* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--crust);
  color: var(--text);
}

.navSpacer {
  height: 3em;
}

.navBar {
  background: var(--base);
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  height: 3em;
}

.navBar li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  list-style: none;
  font-size: 1.1em;
  height: 100%;
}

.navBar li.active,
.navBar li:hover {
  background-color: var(--mauve);
  color: var(--crust)
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mantle);
  padding: 2em;
  height: 400px;
}

.headerGrid {
  margin: auto;
  display: grid;
  gap: 1em;
  max-width: 800px;
  grid-template-columns: minmax(0, 1.5fr) minmax(120px, 300px);
  grid-template-areas: 
  'titleGroup headShot'
  'headerText headShot';
}

.titleGroup {
  grid-area: titleGroup;
  display: flex;
  align-self: end;
  gap: 0.75rem;
  justify-content: flex-start;
}

#headerText {
  grid-area: headerText;
  margin-top: 0;
  align-self: start;
}

#headerTitle {
  margin: 0;
  justify-self: start;
  align-self: end;
}

#socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  line-height: 1;
}

#headShot {
  grid-area: headShot;
  display: block;
  width: min(100%, 300px);
  height: min(100%, 300px);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.carousel-wrapper {
  display: flex;
  max-width: min(80%, 1000px);
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--blue);
}

.carousel-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  
  /* Horizontal Scroll Snap */
  scroll-snap-type: x mandatory;
  /* scrollbar-width: none; */
}

/* .carousel-container::-webkit-scrollbar {
  display: none;
} */

.projectSlide {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--base);
}

@media (max-width: 600px) {
  header {
    padding: 2em;
    height: auto;
  }

  #headShot {
    height: 250px;
    width: 250px;
  }
  
  .headerGrid {
    margin: auto;
    column-gap: 0;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 0;
    grid-template-areas: 
    'headShot'
    'titleGroup'
    'headerText';
  }
}